html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

#app {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.xm_header {
    background-color: #3498db;
    color: white;
    padding: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.xm_main {
    background-color: #ecf0f1;
    padding: 10px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.xm_footer {
    background-color: #2c3e50;
    color: white;
    padding: 5px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.flex {
    display: flex;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex_start {
    justify-content: flex-start;
}

.flex_align_center {
    align-items: center;
}

.flex_space_between {
    justify-content: space-between;
}

.input_num {
    width: 32px;
    margin: 2px 2px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    text-align: center;
}

.input_num:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


progress {
    width: 300px;
    height: 25px;
    border-radius: 5px;
    margin: 5px 5px;
    border: 1px dashed #4CAF50;
}

progress::-webkit-progress-bar {
    background-color: #f1f1f1;
    border-radius: 5px;
}

progress::-webkit-progress-value {
    background-color: #4CAF50;
    border-radius: 5px;
}

progress::-moz-progress-bar {
    background-color: #f1f1f1;
    border-radius: 5px;
}

progress::-moz-progress-value {
    background-color: #4CAF50;
    border-radius: 5px;
}

button {
    margin: 5px 5px;
    padding: 15px 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #388e3c;
}

.image_text {
    font-size: 12px;
}